@font-face {
	font-family: 'LINE Seed JP';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/client-assets/fonts/lineseedjp-400.woff2') format('woff2');
}

@font-face {
	font-family: 'LINE Seed JP';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/client-assets/fonts/lineseedjp-700.woff2') format('woff2');
}

@font-face {
	font-family: 'LINE Seed JP';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('/client-assets/fonts/lineseedjp-800.woff2') format('woff2');
}
